{% extends 'bocadeurna_base.html' %}

{% load static %}

{% block content %}

<br>
<div class="container">
  <h1 class="text-center">Boca de urna</h1>
  <h2 class="text-center"><b>{{ circuito }}</b></h2>

  <br>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <div class="options-container">
          <h4>Edad</h4>
          {% for value, label in form.edad.field.choices %}
              <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                  <input type="radio" class="btn-check custom-btn" name="{{ form.edad.name }}" id="{{ form.edad.id_for_label }}_{{ value }}" value="{{ value }}">
                  <label class="btn btn-outline-custom" for="{{ form.edad.id_for_label }}_{{ value }}">{{ label }}</label>
              </div>
          {% endfor %}
        </div>
      </div>
        <div class="form-group">
          <div class="options-container">
          <h4>Candidato</h4>
          {% for candidato in form.candidato.field.queryset %}
              <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                  <input type="radio" class="btn-check custom-btn" name="{{ form.candidato.name }}" id="{{ form.candidato.id_for_label }}_{{ candidato.id }}" value="{{ candidato.id }}">
                  <label class="btn btn-outline-custom" for="{{ form.candidato.id_for_label }}_{{ candidato.id }}">{{ candidato.nombre }} {{ candidato.apellido }}</label>
              </div>
          {% endfor %}
        </div>
      </div>
        <br>
        <div class="d-grid gap-2">
          <button id="cargar-btn" class="btn" style="background-color: #468B97" type="submit">Cargar</button>
        </div>
        <br><br>
      </form>
    </div>
  </div>
</div>

<style>
  .btn-outline-custom {
      border-color: #1D5B79;
      color: #1D5B79;
  }

  .custom-btn:checked + .btn-outline-custom {
      background-color: #1D5B79;
      color: white;
      border-color: #1D5B79;
  }

  .options-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Ajusta el valor según el espacio vertical deseado */
}

@media (min-width: 576px) { /* Agrega un media query para pantallas más anchas */
    .options-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px; /* Ajusta el valor según el espacio horizontal deseado */
    }
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const edadRadios = document.querySelectorAll("input[name='edad']");
      const candidatoRadios = document.querySelectorAll("input[name='candidato']");
      const cargarBtn = document.getElementById("cargar-btn");
  
      function updateCargarButtonState() {
          const selectedEdad = Array.from(edadRadios).some(radio => radio.checked);
          const selectedCandidato = Array.from(candidatoRadios).some(radio => radio.checked);
          
          cargarBtn.disabled = !(selectedEdad && selectedCandidato);
      }
  
      edadRadios.forEach(radio => {
          radio.addEventListener("change", updateCargarButtonState);
      });
  
      candidatoRadios.forEach(radio => {
          radio.addEventListener("change", updateCargarButtonState);
      });
  
      updateCargarButtonState(); // Inicializar el estado del botón al cargar la página
  });
  </script>
{% endblock %}