{% extends 'control_base.html' %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>Boca de urna</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</head>

<body>
    <br>
    <div class="mesas-header">
        <h1>Boca de Urna - {{ circuito.localidad }} <button class="btn" style="background-color: #EF6262"
                onclick="location.href='{% url 'circuitos_habilitados_reportes' %}'">Volver</button></h1>
        <br>
        <h5>Bocas de urna: {{ cantidad_registros_boca_de_urna }} - Total del padrón: {{ total_personas_circuito }} -
            Porcentaje del padrón: {{ porcentaje|floatformat:2 }}%</h5>
        <div class="col-md-10">
            <div class="progress mt-4">
                <div class="progress-bar" role="progressbar"
                    style="width: {{ porcentaje }}%; background-color: {{ barColor }};">
                    {{ porcentaje|floatformat:2 }}% - {{ cantidad_registros_boca_de_urna }} de {{
                    total_personas_circuito }}
                </div>
            </div>
            <br>
            <canvas id="bocaDeUrnaChart" width="400" height="200"></canvas>
        </div>
    </div>

    <br><br>
    <table class="table table-hover" style="width: 50%;">
        <thead>
            <tr>
                <th>Candidato</th>
                <th class="text-center">Cantidad de votos</th>
                <th class="text-center">Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            {% for candidato in candidatos_ordenados %}
            <tr>
                <td>{{ candidato.0 }}</td>
                <td class="text-center">{{ candidato.1 }}</td>
                <td class="text-center">{{ candidato.2|floatformat:2 }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    

    <script>
        var chartLabels = {{ chart_labels|safe }};
        var chartData = {{ chart_data|safe }};
        var candidatoColors = {{ colores_candidatos|safe }};
        var porcentaje = {{ porcentaje|floatformat:2 }};
    
        var ctx = document.getElementById('bocaDeUrnaChart').getContext('2d');
    
        var data = {
            labels: chartLabels,
            datasets: [{
                label: 'Cantidad de votos',
                data: chartData,
                backgroundColor: chartLabels.map(label => candidatoColors[label] || '#000000'),
                borderWidth: 1
            }]
        };
    
        var bocaDeUrnaChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    datalabels: {
                        anchor: 'center',
                        align: 'center',
                        color: '#ffffff',
                        font: {
                            size: '12'
                        },
                        formatter: function(value) {
                            return value;
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    
        // Función para obtener el color según el porcentaje
        function getColorForPercentage(percentage) {
            if (percentage < 2) {
                return "#EF6262";
            } else if (percentage < 5) {
                return "#F3AA60";
            } else if (percentage < 10) {
                return "#468B97";
            } else {
                return "green";
            }
        }
    
        // Obtener el color según el porcentaje
        var barColor = getColorForPercentage(porcentaje);
    
        // Obtener la barra de progreso
        var progressBar = document.querySelector(".progress-bar");
    
        // Establecer el ancho de la barra de progreso según el porcentaje calculado
        progressBar.style.width = porcentaje + "%";
    
        // Establecer el nuevo contenido en la barra de progreso
        progressBar.innerHTML = porcentaje + "%";
    
        // Establecer el atributo data-percentage en la barra de progreso
        progressBar.setAttribute("data-percentage", porcentaje);
    
        // Establecer el color de fondo de la barra de progreso
        progressBar.style.backgroundColor = barColor;
    </script>
    
</body>

</html>
{% endblock %}