{% extends 'control_base.html' %}

{% load static %}

{% block content %}

<br>
<div class="container">
<h2 class="text-center"><a class="btn" style="background-color: #EF6262; cursor:not-allowed" role="button" aria-pressed="true"><i class="bi-x-lg"></i></a></h2>
<h1 class="text-center">¡Número de mesa inexistente!</h1>
<h6 class="text-center">El número de mesa proporcionado no existe en nuestra base de datos. Por favor, verifique el número e intente nuevamente.</h6>

<button class="btn float-end" style="background-color: #468B97" onclick="location.href='{% url 'solicitar_numero_mesa' %}'">Volver</button>

</div>
</div>

{% endblock %}