{% extends 'control_base.html' %}

{% load static %}

{% block content %}

<br>
<div class="container">
<h1 class="text-center"><b>Mesa Nº {{mesa.num_mesa}}</b></h1>
<h2 class="text-center">Cargar voto</h2>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn float-end" style="background-color: #468B97">Actualizar voto</button>
  <button class="btn float-end" style="background-color: #EF6262" onclick="location.href='{% url 'solicitar_numero_mesa' %}'">Volver</button>
</form>
</div>
</div>
</div>

{% endblock %}