{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ circuito.localidad }} - Personas que no votaron</title>

    <style>
        @page {
            /* Definir encabezado y pie de página */
            @top-right {
                content: "Pag. " counter(page) "/" counter(pages);
            }
        }

        /* Estilos adicionales */
        body {
            /* Asegúrate de dejar suficiente margen en la parte inferior para el pie de página */
            margin-bottom: 30mm;
        }
    </style>
</head>

<h1>Circuito Nº {{ circuito.num_circuito }} - {{ circuito.localidad }}</h1>
<h3>Porcentaje de voto: {{ porcentaje_votantes }}% - Personas que no votaron: {{ no_votantes }}</h3>

<body>
    
    <table class="table table-striped" style="width: 100%;">
        <thead>
            <tr style="background-color: #468B97;">
                <th scope="col" style="width: 40%;">Apellido y nombre</th>
                <th scope="col" style="width: 1%;">Edad</th>
                <th scope="col" style="width: 33%;">Domicilio</th>
                <th scope="col" style="width: 26%;">Lugar de voto</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in persona_list %}
            <tr>
                <td>{{ persona.apellido }}, {{ persona.nombre }}</td>
                <td>{{ persona.edad }}</td>
                <td>{{ persona.domicilio }}</td>
                <td>{{ persona.mesa.escuela.nombre }}, Mesa: {{ persona.mesa.num_mesa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>