{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ circuito.localidad }} - Personas que no votaron</title>
    <link rel="stylesheet" href="{% static 'styles/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<h1>Circuito Nº {{ circuito.num_circuito }} - {{ circuito.localidad }}</h1>
<h2>Personas que no votaron - Total: {{ cantidad_personas }}</h2>

<body>
    
    <table class="table table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th scope="col">Apellido y nombre</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Lugar de voto</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in persona_list %}
            <tr>
                <td>{{ persona.apellido }}, {{ persona.nombre }}</td>
                <td>{{ persona.domicilio }}</td>
                <td>{{ persona.mesa.escuela.nombre }}, Mesa: {{ persona.mesa.num_mesa }} (Orden: {{ persona.num_orden }})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>