{% extends 'control_base.html' %}

{% block content %}

<br>
<div class="padron-header">
    <h1>Padron Mesa Nº {{ num_mesa }} - {{ localidad }} </h1>
    <button class="btn" style="background-color: #EF6262" onclick="location.href='{% url 'circuito_detail' circuito_id=circuito_id %}'">Volver</button>
    <a class="btn" style="background-color: #468B97" href="{% url 'exportar_pdf' circuito_id=circuito_id num_mesa=num_mesa %}" target="_blank">PDF mesa completa</a>
    <a class="btn" style="background-color: #468B97" href="{% url 'exportar_pdf_personas_sin_voto_mesa' circuito_id=circuito_id num_mesa=num_mesa %}" target="_blank">PDF no votantes</a>

  </div>
<div class="btn-toolbar float-end">
    <div class="btn-group mr-2">
        <input class="form-control" id="filterPersona" type="text" placeholder="Buscar..">    
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="col-3">Apellido y nombre</th>
            <th scope="col" class="col-3">Domicilio</th>
            <th scope="col" class="col-1">Clase</th>
            <th scope="col" class="col-4">Lugar</th>
            <th scope="col" class="col-1">Voto</th>
        </tr>
    </thead>
    <tbody id="listPersona">
        {% for personas in persona_list %}
        <tr>
            <td>{{personas.apellido}}, {{personas.nombre}}</td>
            <td>{{personas.domicilio}}</td>
            <td>{{personas.clase}}</td>
            <td>{{personas.mesa.escuela.nombre}} - Mesa: {{personas.mesa.num_mesa}} (Orden: {{personas.num_orden}})</td>
            <td>
                {% if personas.voto %}
                <a class="btn" style="background-color: #468B97; cursor:default" role="button" aria-pressed="true"><i class="bi-check-lg"></i></a>
                {% else %}
                <a class="btn" style="background-color: #EF6262; cursor:default" role="button" aria-pressed="true"><i class="bi-x-lg"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("#filterPersona").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#listPersona tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

<style>
    .padron-header {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  </style>
{% endblock %}