{% extends 'control_base.html' %}

{% block content %}

<br>
<h1>Control de votos</h1>
<br>

<div class="d-grid gap-2">
    <button class="btn" style="background-color: #0096dc" type="button" onclick="location.href='/expedientes/expediente_new'">Cargar Ordenanza</button>
    <button class="btn" style="background-color: #0096dc" type="button" onclick="location.href='/expedientes/persona_new'">Cargar Resolucion</button>
    <button class="btn" style="background-color: #0096dc" type="button" onclick="location.href='/expedientes/persona_new'">Cargar Decreto</button>
 </div>

{% endblock content %}